@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: anzo1;
  src: url('./assets/file1.woff2');
}

@font-face{
  font-family: anzo2;
  src: url('./assets/file2.woff2');
}

@font-face{
  font-family: anzo3;
  src: url('./assets/file3.woff2');
}

@font-face{
  font-family: anzo4;
  src: url('./assets/file4.woff2');
}


@font-face{
  font-family: anzo5;
  src: url('./assets/file5.woff2');
}

@font-face{
  font-family: anzo6;
  src: url('./assets/madefor-text.var.original.woff2');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  
}
html,body{
  height: 100%;
  width: 100%;
  font-family: anzo1;
  background-color: #111;
}

#page1-in{
  position: relative;
  perspective: 1000px;
}

#tiltDiv{
  /* background-color: red; */
  width: fit-content;
  /* transform: rotateX(30deg) rotateY(10deg); */
 
}

#section2{
  position: relative;
  perspective: 3000px;
  

}

.rotateText{
  transform-origin: 100% 70%;
}